<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <form
        action="/create"
        method="post"
        style="margin-top: 15%"
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" multiple />
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" id="price" name="price" />
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" name="quantity" />
          </div>
        <button class="btn btn-primary">Add</button>
      </form>
    </div>
  </body>
</html>
